name: Deploy ke aaPanel Direct

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      # 1. Ambil kodingan terbaru dari GitHub
      - name: Checkout Code
        uses: actions/checkout@v3

      # 2. Sinkronisasi file ke folder tujuan
      - name: Sync Files to Server
        run: |
          # Gunakan rsync untuk mengcopy file (lebih aman & cepat daripada cp)
          # --exclude '.git' agar folder .git tidak ikut ter-copy
          # --delete agar file yang dihapus di GitHub juga terhapus di server
          
          rsync -av --delete --exclude '.git' --exclude '.github' ./ /www/wwwroot/isplanding/

      # 3. (Opsional) Perbaiki permission setelah copy (jika diperlukan)
      # Biasanya tidak perlu jika Langkah 1 sudah benar.
