name: Deploy ke aaPanel Direct

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      # 1. Ambil kodingan terbaru dari GitHub
      - name: Checkout Code
        uses: actions/checkout@v3

      # 2. Sinkronisasi file ke folder tujuan
      - name: Sync Files to Server
        run: |
          # --no-o : Jangan coba ganti Owner
          # --no-g : Jangan coba ganti Group
          # --no-p : Jangan paksa permission (biarkan ikut settingan server)
          rsync -av --delete --no-o --no-g --no-p --exclude '.git' --exclude '.github' ./ /www/wwwroot/isplanding/
