name: Deploy Landing Page

on:
  push:
    branches: [ "main" ]

env:
  IMAGE_NAME: isplanding  # !!! Harus sama dengan nama repo
  USERNAME: handesign-web # !!! Ganti ini (huruf kecil)

jobs:
  build-and-deploy:
    runs-on: self-hosted   # Ini akan ditangkap oleh runner-landing-isp
    steps:
      - uses: actions/checkout@v3

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/${{ env.USERNAME }}/${{ env.IMAGE_NAME }}:latest

      - name: Deploy to K8s
        run: |
          # Pakai microk8s.kubectl
          microk8s.kubectl apply -f k8s/deployment.yml
          microk8s.kubectl rollout restart deployment/landing-isp-app